In [1]:
import pandas as pd
import datetime as dt

In [113]:
df = pd.read_csv('data/y42_internal_app_mvp.csv')

In [114]:
df['created_quarter'] = pd.to_datetime(df['date_created_ticket']).dt.quarter
df['created_month'] = pd.to_datetime(df['date_created_ticket']).dt.month
df['created_week'] = pd.to_datetime(df['date_created_ticket']).dt.week

/var/folders/hs/90m5kvzd13v1n_qxqhl7pbw80000gn/T/ipykernel_92631/84571628.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['created_week'] = pd.to_datetime(df['date_created_ticket']).dt.week

In [115]:
df['closed_quarter'] = pd.to_datetime(df['date_closed_ticket']).dt.quarter
df['closed_month'] = pd.to_datetime(df['date_closed_ticket']).dt.month
df['closed_week'] = pd.to_datetime(df['date_closed_ticket']).dt.week

/var/folders/hs/90m5kvzd13v1n_qxqhl7pbw80000gn/T/ipykernel_92631/665786270.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df['closed_week'] = pd.to_datetime(df['date_closed_ticket']).dt.week

In [116]:
ticket_columns = list(df.columns)

In [117]:
for i in ['id', 'custom_id', 'text_content', 'tags', 'custom_fields', 'dependencies', 'list_id', 'folder_id', 'space_id', 'id_list','date_closed_ticket_month', 'date_created_ticket_month', 'orderindex_list', 'status_list', 'folder_id_list', 'statuses', 'task_count', 'folder_name']:
    ticket_columns.remove(i)

In [118]:
df = df[ticket_columns].copy()

In [119]:
ticket_columns

['integration',
 'description',
 'time_estimate',
 'time_spent',
 'url',
 'assigned_dev_new',
 'folder_name',
 'list_name',
 'date_closed_ticket',
 'date_created_ticket',
 'date_updated_ticket',
 'start_date_parsed',
 'due_date_parsed',
 'priority_rank',
 'status_board',
 'status_kind',
 'created_quarter',
 'created_month',
 'created_week',
 'closed_quarter',
 'closed_month',
 'closed_week']

In [120]:
df.head()

,integration,description,time_estimate,time_spent,url,assigned_dev_new,folder_name,list_name,date_closed_ticket,date_created_ticket,...,due_date_parsed,priority_rank,status_board,status_kind,created_quarter,created_month,created_week,closed_quarter,closed_month,closed_week
0,Youtube Analytics,NaN,NaN,NaN,https://app.clickup.com/t/1tjxf4t,Gerardo Tatzati,Integration,New Integrations,NaN,2021-11-18,...,NaN,2.0,to do,on schedule,4,11,46,NaN,NaN,NaN
1,Google sheets,We need to replace our custom google sheets im...,NaN,NaN,https://app.clickup.com/t/gt86au,Ardit Arapi,Integration,New Integrations,NaN,2021-04-07,...,NaN,1.0,to do,on schedule,2,4,14,NaN,NaN,NaN
2,get requirements for a good amazon integration,NaN,NaN,NaN,https://app.clickup.com/t/n59bp4,Florian Scherer,Integration,New Features,NaN,2021-06-28,...,NaN,NaN,to do,on schedule,2,6,26,NaN,NaN,NaN
3,"INTEGRATION - SHOPIFY - Add new table ""giftcards""",Our customer Oatsome is requesting a new table...,NaN,NaN,https://app.clickup.com/t/1nf7wkn,Geri Shehu,Integration,New Features,NaN,2021-10-20,...,NaN,4.0,to do,on schedule,4,10,42,NaN,NaN,NaN
4,BigQuery import without touching our servers w...,NaN,NaN,NaN,https://app.clickup.com/t/k76cm7,cs,Integration,New Features,NaN,2021-05-21,...,2021-08-30,3.0,to do,on schedule,2,5,20,NaN,NaN,NaN

## Integrations

In [5]:
df_inte = pd.read_csv("data/Y42 - Deployed Integrations - Y 42 - Deployed Integrations.csv")
df_inte.head()

,ClickUp Task ID,Task Name,IntegrationType,Singer Tap,Forked,Original Github Repo,Our Forked Tap,Tap License,Auth\nScope,Has Account Select,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Forked?
0,INT-243,Airtable,airtable,tap-airtable,forked,aimementoring/tap-airtable,https://github.com/goes-funky/tap-airtable,forked from aimementoring/tap-airtable\n\nNo l...,airtable,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INT-107,Amazon advertising API,amazon-advertising,tap-amazon-advertising,forked,dbt-labs/tap-amazon-advertising,https://github.com/goes-funky/tap-amazon-adver...,Apache License 2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INT-97,Amazon Seller Central,amazon-sp,tap-amazon-sp,from scratch,NaN,NaN,GNU Affero General Public License v3.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INT-565,Apple Search Ads,apple-search-ads,tap-apple-search-ads,from scratch,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INT-632,Asana,asana,tap-asana,forked,singer-io/tap-asana,https://github.com/goes-funky/tap-asana,GNU Affero General Public License v3.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
new_inte = ['Mailchimp', 'YouTube Reporting', 'Instagram', 'ClickUp', 'Xero']

In [73]:
df.integration = df.integration.apply(lambda x: x.lower())

In [64]:
y42_integrations = list(df_inte['Task Name'])

In [65]:
del y42_integrations[-3]

In [66]:
for i in new_inte:
    if i not in y42_integrations and i.lower() not in y42_integrations:
        y42_integrations.append(i)
        print(i)

Mailchimp
YouTube Reporting
ClickUp

In [77]:
y42_integrations = [i.lower() for i in y42_integrations]

In [69]:
y42_integrations[-2] = 'YouTube'

In [78]:
y42_integrations

['airtable',
 'amazon advertising api',
 'amazon seller central',
 'apple search ads',
 'asana',
 'azure data storage',
 'azure sql',
 'bing ads',
 'braintree',
 'chargebee',
 'cloud storage',
 'criteo',
 'csv',
 'datos survey',
 'exchange rate api',
 'facebook ads',
 'facebook pages',
 'file cloud',
 'freshdesk',
 'freshsales',
 'google adwords',
 'google analytics',
 'google bigquery',
 'google sheets',
 'hubspot',
 'instagram',
 'klaviyo',
 'lever',
 'linkedin ads',
 'mongo db',
 'mysql',
 'netsuite',
 'office 365 sharepoint',
 'outbrain',
 'paypal',
 'pinterest ads',
 'pipedrive',
 'postgres',
 'recharge',
 's3',
 'salesforce',
 'sap',
 'sftp',
 'shopify',
 'snapchat',
 'stripe',
 'taboola',
 'tiktok',
 'twitter ads',
 'typeform',
 'xero',
 'xlsx',
 'yahoo gemini',
 'zendesk',
 'mssql',
 'postgres',
 'mailchimp',
 'youtube',
 'clickup']

In [136]:
def search_integration(text, integration_list):
    for integration in integration_list:
        if integration in text:
            return integration

In [139]:
integration_list = ['youtube reporting', 'google sheets', 'xero']
print(search_integration('youtube reporting', y42_integrations))

youtube

In [143]:
df['integration'] = df['integration'].apply(lambda x: x.lower())
df['integrations_extracted'] = df['integration'].apply(search_integration, integration_list=y42_integrations)

In [144]:
df['integrations_extracted']

0             youtube
1       google sheets
2                None
3             shopify
4                None
            ...
302          netsuite
303          snapchat
304          airtable
305    facebook pages
306           hubspot
Name: integrations_extracted, Length: 307, dtype: object